body{
	margin: 0;
}

*{
	font-family: 'Open Sans Condensed', sans-serif;
	box-sizing: border-box;
}

#page-wrapper{
	position: relative;
}

#map {
	width: 100%;
	height: 800px;
}

div.option-box{
	position: absolute;
	top: 15px;
	right: 25px;
	background-color: transparent;
}

@media screen and (max-width: 767px){
	div.option-box{
		display: none;
	}
}

div.input-group {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	width: 370px;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

div.tweet-list, div.search-result{
	background-color: #FFF;
	margin-top: 15px;
	display: none;
	box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

div.tweet-list #list{
	max-height: 450px;
	overflow-y: scroll;
}

div.tweet-list #list > div {
	margin: 10px;
}

div.tweet-list span, div.search-result > span{
	text-transform: uppercase;
	font-size: 15px;
	background-color: #FFF;
	margin: 0 10px;
	line-height: 20px;
	display: block;
	height: 30px;
	padding: 5px 0;
}

div.tweet-list span{
	border-bottom: 1px solid rgb(225, 232, 237);
}

input{
	padding: 0.5em;
	border-radius: 0;
	border: 0;
	outline: 0;
	font-size: 1em;
	margin: 0;
}

.input-group input[type="date"]{
	width: 50%;
	font-size: 17px;
	padding-top: 0;
}

.input-group span{
	width: 50%;
	text-transform: uppercase;
	font-size: 0.6em;
	background-color: #FFF;
	border-right: 2px solid rgb(247, 247, 247);
	padding: 0.5em 0.6em 0;
	color: rgb(150,150,150);
	font-size: 13px;
}

.input-group .category-buttons span{
	background-color: transparent;
	padding: 0 0 0 0.6em;
	width: 57px;
	display: inline-block;
	border: none;
}

.input-group input[type="date"]:first-of-type{
	border-right: 2px solid rgb(247, 247, 247);
}

div.input-group input[type="text"], form#category .category-buttons{
    border: 0;
    width: 75%;
    background: rgb(247,247,247);
    line-height: 1.75em;
    font-size: 18px;
}

.info-window i:first-child:not(:last-child){
	display: none;
}

div.search-loader{
	width: 25%;
	text-align: center;
	background: #ddd;
	display: none;
}

#search div.search-loader .fa-circle-o-notch{
	margin: 9px 0 0;
}

#category div.search-loader .fa-circle-o-notch{
	margin: 18px 0 0;
}

.fa-circle-o-notch{
	font-size: 30px !important;
	margin: 20px 40px 20px 55px;
}

.hidden-preloader{
	position: absolute;
	left: -100px;
	margin: 0;
}

.category-buttons [class^="flaticon-"]:before, .category-buttons [class*=" flaticon-"]:before, .category-buttons [class^="flaticon-"]:after, .category-buttons [class*=" flaticon-"]:after{
	margin: 6px;
	border-radius: 3px;
}

i[class^="flaticon-"]:hover{
	background-color: #ddd;
	cursor: pointer;
}

.category-buttons i {
	border: 2px solid transparent;
}

.category-buttons i.selected{
	border: 2px solid #ccc;
}

.button, .toggle-button{
	color: rgb(119, 119, 119);
	cursor: pointer;
	background: #ddd;
    text-transform: uppercase;
    border: 0;
    outline: 0;
    font-weight: 600;
    text-align: center;
}

.button:hover, .toggle-button:hover{
	background-color: #ccc;
}

.option-box .toggle-button{
	width: 100%;
	padding: 5px;
    font-size: 0.75em;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2),0 -1px 0px rgba(0,0,0,0.02);
}

div.input-group input[type="submit"]{
    width: 25%;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.75em;
}

.active-search .toggle-search-button, .active-search #category{
	display: none;
}

.option-box:not(.active-search) .toggle-category-button, .option-box:not(.active-search) #search{
	display: none;
}

.category-buttons i {
	position: relative;
}

.category-buttons i::after {
    content: attr(data-tip) ;   
     
    font-size: 13px;
    position:absolute;
    z-index: 999;
    white-space:nowrap;
    bottom:9999px;
    background:#000;
    color:#e0e0e0;
    padding:0px 7px;
    line-height: 24px;
    height: 24px;
    opacity: 0;  
    transition:opacity 0.4s ease-out; 
}
     
.category-buttons i:hover::after {
    opacity: 1;
    bottom: -30px;
 }
